# Explore & Transform

In [1]:
## Dependencies
import pandas as pd
import numpy as np

## Previous Table Structure

In [44]:
citibike_previous = pd.read_csv("input/201701-citibike-tripdata.csv", low_memory=False)
citibike_previous.shape

(726676, 15)

In [45]:
citibike_previous.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [46]:
citibike_previous = citibike_previous.sample(frac=0.02)
citibike_previous.reset_index(inplace=True)

In [47]:
citibike_previous.shape

(14534, 16)

In [53]:
citibike_previous.columns.str.replace(' ', '').str.lower()

Index(['index', 'tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [49]:
citibike_previous.columns

Index(['index', 'Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [50]:
citibike_previous.dtypes

index                        int64
Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [54]:
citibike_previous['Start Time'][0]

'2017-01-12 09:36:40'

In [ ]:
type(citibike_previous['tripduration'][0])

In [ ]:
gender_list = []
for i in range(len(citibike_previous)):
    if (citibike_previous['gender'][i] == 1):
        gender_list.append('Male')
    elif (citibike_previous['gender'][i] == 2):
        gender_list.append('Female')
    else:
        gender_list.append('Unknown')

In [ ]:
citibike_previous['gender_cat'] = gender_list
citibike_previous['gender_cat'].value_counts()

In [ ]:
type(citibike_previous['birth year'][0])

In [ ]:
citibike_previous['birth year'].dtype

In [ ]:
citibike_previous['birth year'] = citibike_previous['birth year'].astype(int)

In [ ]:
columns_previous = ['bikeid',
                    'starttime', 'stoptime', 'tripduration',
                    'start station id', 'start station name',
                    'end station id', 'end station name',
                    'start station latitude', 'start station longitude', 
                    'end station latitude', 'end station longitude', 'usertype', 'birth year', 'gender_cat']

In [ ]:
clean_previous =  citibike_previous[columns_previous]

In [ ]:
clean_previous = clean_previous.rename(columns = {
    'bikeid': 'Bike Id',
    'starttime': 'Start DateTime',
    'stoptime': 'End DateTime',
    'tripduration': 'Duration [s]',
    'start station id': 'Start Station Id',
    'start station name': 'Start Station Name',
    'end station id': 'End Station Id',
    'end station name': 'End Station Name',
    'start station latitude': 'Start Lat',
    'start station longitude': 'Start Lon', 
    'end station latitude': 'End Lat',
    'end station longitude': 'End Lon',
    'usertype': 'Membership',
    'birth year': 'Birth Year',
    'gender_cat': 'Gender'
})

In [ ]:
clean_previous

## Current Table Structure

In [26]:
citibike_current = pd.read_csv("input/202102-citibike-tripdata.csv", low_memory=False)
citibike_current.shape

(649983, 13)

In [27]:
citibike_current.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [ ]:
delta = pd.to_datetime(citibike_current['ended_at']) - pd.to_datetime(citibike_current['started_at'])
citibike_current['Duration [s]'] = delta.dt.total_seconds().astype(np.int64)

In [ ]:
type(citibike_current['Duration [s]'][0])

In [ ]:
membership_list = []
for i in range(len(citibike_current)):
    if (citibike_current['member_casual'][i] == 'member'):
        membership_list.append('Subscriber')
    elif (citibike_current['member_casual'][i] == 'casual'):
        membership_list.append('Customer')
    else:
        membership_list.append('Unknown')

In [ ]:
len(membership_list)

In [ ]:
citibike_current['Membership'] = membership_list
citibike_current['Membership'].value_counts()

In [ ]:
citibike_current['Membership']

In [ ]:
columns_current = ['started_at',
                   'ended_at',
                   'Duration [s]',
                   'start_station_id',
                   'start_station_name',
                   'end_station_id',
                   'end_station_name',
                   'start_lat',
                   'start_lng',
                   'end_lat',
                   'end_lng',
                   'Membership']

In [ ]:
clean_current = citibike_current[columns_current]

In [ ]:
clean_current = clean_current.rename(columns={
    'started_at': 'Start DateTime',
    'ended_at': 'End DateTime',
    'start_station_id': 'Start Station Id',
    'start_station_name': 'Start Station Name',
    'end_station_id': 'End Station Id',
    'end_station_name': 'End Station Name',
    'start_lat': 'Start Lat',
    'start_lng': 'Start Lon',
    'end_lat': 'End Lat',
    'end_lng': 'End Lon'
})

In [ ]:
clean_current

## DataFrame Append

In [ ]:
df1.append(df2, ignore_index = True)

In [ ]:
citibike_complete = clean_previous.append(clean_current, ignore_index = True)

In [ ]:
citibike_complete

In [ ]:
citibike_complete.dtypes

In [ ]:
# citibike_complete['Bike Id'].astype(int)

In [ ]:
citibike_complete.to_csv("output/citibike_analytics.csv", index=False)

## Multiple Files

In [ ]:
for year in range(5):
    for month in range(12):
        file_name = f"{2016+year}{month+1:02d}-citibike-tripdata.csv"
        print(file_name)

In [ ]:
for month in range(5):
    file_name = f"2021{month+2:02d}-citibike-tripdata.csv"
    print(file_name)

In [ ]:
print(f"{1:02d}")