# Explore & Transform

In [3]:
## Dependencies
import pandas as pd
import numpy as np

## Previous Table Structure

In [15]:
citibike_previous = pd.read_csv("input/202101-citibike-tripdata.csv", low_memory=False)
citibike_previous.shape

(1095346, 15)

In [16]:
citibike_previous.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [20]:
citibike_previous = citibike_previous.sample(frac=0.03)

In [21]:
citibike_previous.shape

(32860, 15)

In [14]:
type(citibike_previous['tripduration'][0])

numpy.int64

In [5]:
gender_list = []
for i in range(len(citibike_previous)):
    if (citibike_previous['gender'][i] == 1):
        gender_list.append('Male')
    elif (citibike_previous['gender'][i] == 2):
        gender_list.append('Female')
    else:
        gender_list.append('Unknown')

In [6]:
citibike_previous['gender_cat'] = gender_list
citibike_previous['gender_cat'].value_counts()

Male       714609
Female     289850
Unknown     90887
Name: gender_cat, dtype: int64

In [25]:
type(citibike_previous['birth year'][0])

numpy.int64

In [ ]:
citibike_previous['birth year'] = citibike_previous['birth year'].astype(np.int64)

In [7]:
columns_previous = ['bikeid',
                    'starttime', 'stoptime', 'tripduration',
                    'start station id', 'start station name',
                    'end station id', 'end station name',
                    'start station latitude', 'start station longitude', 
                    'end station latitude', 'end station longitude', 'usertype', 'birth year', 'gender_cat']

In [8]:
clean_previous =  citibike_previous[columns_previous]

In [9]:
clean_previous = clean_previous.rename(columns = {
    'bikeid': 'Bike Id',
    'starttime': 'Start DateTime',
    'stoptime': 'End DateTime',
    'tripduration': 'Duration [s]',
    'start station id': 'Start Station Id',
    'start station name': 'Start Station Name',
    'end station id': 'End Station Id',
    'end station name': 'End Station Name',
    'start station latitude': 'Start Lat',
    'start station longitude': 'Start Lon', 
    'end station latitude': 'End Lat',
    'end station longitude': 'End Lon',
    'usertype': 'Membership',
    'birth year': 'Birth Year',
    'gender_cat': 'Gender'
})

In [10]:
clean_previous

,Bike Id,Start DateTime,End DateTime,Duration [s],Start Station Id,Start Station Name,End Station Id,End Station Name,Start Lat,Start Lon,End Lat,End Lon,Membership,Birth Year,Gender
0,47812,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,2513,3581,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,40.674012,-73.967146,Customer,1969,Unknown
1,47571,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,2519,3581,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,40.674012,-73.967146,Customer,1969,Unknown
2,37451,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,1207,3144,E 81 St & Park Ave,3724,7 Ave & Central Park South,40.776777,-73.959010,40.766741,-73.979069,Subscriber,2002,Male
3,48884,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,2506,3581,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,40.674012,-73.967146,Customer,2002,Male
4,26837,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,959,534,Water - Whitehall Plaza,332,Cherry St,40.702551,-74.012723,40.712199,-73.979481,Customer,2002,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,47613,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,569,3300,Prospect Park West & 8 St,3395,Henry St & W 9 St,40.665147,-73.976376,40.676374,-74.003250,Subscriber,1958,Male
1095342,36798,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,1439,3081,Graham Ave & Grand St,307,Canal St & Rutgers St,40.711863,-73.944024,40.714275,-73.989900,Subscriber,1988,Male
1095343,48698,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,2619,447,8 Ave & W 52 St,4058,Madison Av & E 51 St,40.763707,-73.985162,40.758630,-73.975130,Subscriber,1985,Male
1095344,49619,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,83,3462,E 44 St & 2 Ave,3462,E 44 St & 2 Ave,40.751184,-73.971387,40.751184,-73.971387,Subscriber,1969,Male
1095345,47863,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,1313,504,1 Ave & E 16 St,3687,E 33 St & 1 Ave,40.732219,-73.981656,40.743227,-73.974498,Subscriber,1990,Male

## Current Table Structure

In [11]:
citibike_current = pd.read_csv("input/202102-citibike-tripdata.csv", low_memory=False)
citibike_current.shape

(649983, 13)

In [12]:
citibike_current.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [13]:
delta = pd.to_datetime(citibike_current['ended_at']) - pd.to_datetime(citibike_current['started_at'])
citibike_current['Duration [s]'] = delta.dt.total_seconds().astype(np.int64)

In [14]:
type(citibike_current['Duration [s]'][0])

numpy.int64

In [15]:
membership_list = []
for i in range(len(citibike_current)):
    if (citibike_current['member_casual'][i] == 'member'):
        membership_list.append('Subscriber')
    elif (citibike_current['member_casual'][i] == 'casual'):
        membership_list.append('Customer')
    else:
        membership_list.append('Unknown')

In [16]:
len(membership_list)

649983

In [17]:
citibike_current['Membership'] = membership_list
citibike_current['Membership'].value_counts()

Subscriber    557445
Customer       92538
Name: Membership, dtype: int64

In [18]:
citibike_current['Membership']

0           Customer
1         Subscriber
2           Customer
3         Subscriber
4         Subscriber
             ...
649978    Subscriber
649979    Subscriber
649980      Customer
649981      Customer
649982    Subscriber
Name: Membership, Length: 649983, dtype: object

In [19]:
columns_current = ['started_at',
                   'ended_at',
                   'Duration [s]',
                   'start_station_id',
                   'start_station_name',
                   'end_station_id',
                   'end_station_name',
                   'start_lat',
                   'start_lng',
                   'end_lat',
                   'end_lng',
                   'Membership']

In [20]:
clean_current = citibike_current[columns_current]

In [21]:
clean_current = clean_current.rename(columns={
    'started_at': 'Start DateTime',
    'ended_at': 'End DateTime',
    'start_station_id': 'Start Station Id',
    'start_station_name': 'Start Station Name',
    'end_station_id': 'End Station Id',
    'end_station_name': 'End Station Name',
    'start_lat': 'Start Lat',
    'start_lng': 'Start Lon',
    'end_lat': 'End Lat',
    'end_lng': 'End Lon'
})

In [22]:
clean_current

,Start DateTime,End DateTime,Duration [s],Start Station Id,Start Station Name,End Station Id,End Station Name,Start Lat,Start Lon,End Lat,End Lon,Membership
0,2021-02-26 16:38:54,2021-02-26 16:44:37,343,7243.04,E 84 St & Park Ave,7057.07,E 78 St & 2 Ave,40.778626,-73.957720,40.772797,-73.955778,Customer
1,2021-02-17 11:09:11,2021-02-17 11:26:47,1056,4214.03,Macon St & Nostrand Ave,4479.06,Bond St & Fulton St,40.680983,-73.950047,40.689622,-73.983043,Subscriber
2,2021-02-26 18:33:29,2021-02-26 19:05:41,1932,4214.03,Macon St & Nostrand Ave,4222.02,Lefferts Pl & Franklin Ave,40.680983,-73.950047,40.680342,-73.955769,Customer
3,2021-02-26 12:48:35,2021-02-26 13:07:24,1129,4214.03,Macon St & Nostrand Ave,4479.06,Bond St & Fulton St,40.680983,-73.950047,40.689622,-73.983043,Subscriber
4,2021-02-25 17:23:22,2021-02-25 17:28:20,298,6131.12,Madison Ave & E 26 St,6398.06,W 37 St & 5 Ave,40.742685,-73.986713,40.750380,-73.983390,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...,...
649978,2021-02-12 16:01:17,2021-02-12 16:13:53,756,4898.02,Irving Ave & DeKalb Ave,4898.02,Irving Ave & DeKalb Ave,40.702700,-73.920950,40.702700,-73.920950,Subscriber
649979,2021-02-17 18:03:24,2021-02-17 18:06:39,195,6584.12,E 47 St & Park Ave,6584.12,E 47 St & Park Ave,40.755102,-73.974986,40.755103,-73.974987,Subscriber
649980,2021-02-28 18:58:31,2021-02-28 19:12:51,860,4721.01,Cedar St & Evergreen Ave,4721.01,Cedar St & Evergreen Ave,40.696710,-73.928070,40.696710,-73.928070,Customer
649981,2021-02-25 09:00:41,2021-02-25 09:13:56,795,4066.15,Bedford Ave & Bergen St,4721.01,Cedar St & Evergreen Ave,40.676368,-73.952918,40.696710,-73.928070,Customer
649982,2021-02-08 13:31:57,2021-02-08 13:50:45,1128,4051.01,Berkeley Pl & 7 Ave,4748.07,Clinton St & Tillary St,40.675146,-73.975232,40.696233,-73.991421,Subscriber

## DataFrame Append

In [ ]:
df1.append(df2, ignore_index = True)

In [23]:
citibike_complete = clean_previous.append(clean_current, ignore_index = True)

In [24]:
citibike_complete

,Bike Id,Start DateTime,End DateTime,Duration [s],Start Station Id,Start Station Name,End Station Id,End Station Name,Start Lat,Start Lon,End Lat,End Lon,Membership,Birth Year,Gender
0,47812.0,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,2513,3581,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,40.674012,-73.967146,Customer,1969.0,Unknown
1,47571.0,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,2519,3581,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,40.674012,-73.967146,Customer,1969.0,Unknown
2,37451.0,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,1207,3144,E 81 St & Park Ave,3724,7 Ave & Central Park South,40.776777,-73.959010,40.766741,-73.979069,Subscriber,2002.0,Male
3,48884.0,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,2506,3581,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,40.674012,-73.967146,Customer,2002.0,Male
4,26837.0,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,959,534,Water - Whitehall Plaza,332,Cherry St,40.702551,-74.012723,40.712199,-73.979481,Customer,2002.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1745324,NaN,2021-02-12 16:01:17,2021-02-12 16:13:53,756,4898.02,Irving Ave & DeKalb Ave,4898.02,Irving Ave & DeKalb Ave,40.702700,-73.920950,40.702700,-73.920950,Subscriber,NaN,NaN
1745325,NaN,2021-02-17 18:03:24,2021-02-17 18:06:39,195,6584.12,E 47 St & Park Ave,6584.12,E 47 St & Park Ave,40.755102,-73.974986,40.755103,-73.974987,Subscriber,NaN,NaN
1745326,NaN,2021-02-28 18:58:31,2021-02-28 19:12:51,860,4721.01,Cedar St & Evergreen Ave,4721.01,Cedar St & Evergreen Ave,40.696710,-73.928070,40.696710,-73.928070,Customer,NaN,NaN
1745327,NaN,2021-02-25 09:00:41,2021-02-25 09:13:56,795,4066.15,Bedford Ave & Bergen St,4721.01,Cedar St & Evergreen Ave,40.676368,-73.952918,40.696710,-73.928070,Customer,NaN,NaN
1745328,NaN,2021-02-08 13:31:57,2021-02-08 13:50:45,1128,4051.01,Berkeley Pl & 7 Ave,4748.07,Clinton St & Tillary St,40.675146,-73.975232,40.696233,-73.991421,Subscriber,NaN,NaN

In [27]:
citibike_complete.dtypes

Bike Id               float64
Start DateTime         object
End DateTime           object
Duration [s]            int64
Start Station Id       object
Start Station Name     object
End Station Id         object
End Station Name       object
Start Lat             float64
Start Lon             float64
End Lat               float64
End Lon               float64
Membership             object
Birth Year            float64
Gender                 object
dtype: object

In [32]:
# citibike_complete['Bike Id'].astype(int)

In [28]:
citibike_complete.to_csv("output/citibike_analytics.csv", index=False)

## Multiple Files

In [41]:
for year in range(5):
    for month in range(12):
        file_name = f"{2016+year}{month+1:02d}-citibike-tripdata.csv"
        print(file_name)

201601-citibike-tripdata.csv
201602-citibike-tripdata.csv
201603-citibike-tripdata.csv
201604-citibike-tripdata.csv
201605-citibike-tripdata.csv
201606-citibike-tripdata.csv
201607-citibike-tripdata.csv
201608-citibike-tripdata.csv
201609-citibike-tripdata.csv
201610-citibike-tripdata.csv
201611-citibike-tripdata.csv
201612-citibike-tripdata.csv
201701-citibike-tripdata.csv
201702-citibike-tripdata.csv
201703-citibike-tripdata.csv
201704-citibike-tripdata.csv
201705-citibike-tripdata.csv
201706-citibike-tripdata.csv
201707-citibike-tripdata.csv
201708-citibike-tripdata.csv
201709-citibike-tripdata.csv
201710-citibike-tripdata.csv
201711-citibike-tripdata.csv
201712-citibike-tripdata.csv
201801-citibike-tripdata.csv
201802-citibike-tripdata.csv
201803-citibike-tripdata.csv
201804-citibike-tripdata.csv
201805-citibike-tripdata.csv
201806-citibike-tripdata.csv
201807-citibike-tripdata.csv
201808-citibike-tripdata.csv
201809-citibike-tripdata.csv
201810-citibike-tripdata.csv
201811-citibike-tripdata.csv
201812-citibike-tripdata.csv
201901-citibike-tripdata.csv
201902-citibike-tripdata.csv
201903-citibike-tripdata.csv
201904-citibike-tripdata.csv
201905-citibike-tripdata.csv
201906-citibike-tripdata.csv
201907-citibike-tripdata.csv
201908-citibike-tripdata.csv
201909-citibike-tripdata.csv
201910-citibike-tripdata.csv
201911-citibike-tripdata.csv
201912-citibike-tripdata.csv
202001-citibike-tripdata.csv
202002-citibike-tripdata.csv
202003-citibike-tripdata.csv
202004-citibike-tripdata.csv
202005-citibike-tripdata.csv
202006-citibike-tripdata.csv
202007-citibike-tripdata.csv
202008-citibike-tripdata.csv
202009-citibike-tripdata.csv
202010-citibike-tripdata.csv
202011-citibike-tripdata.csv
202012-citibike-tripdata.csv

In [44]:
for month in range(5):
    file_name = f"2021{month+2:02d}-citibike-tripdata.csv"
    print(file_name)

202102-citibike-tripdata.csv
202103-citibike-tripdata.csv
202104-citibike-tripdata.csv
202105-citibike-tripdata.csv
202106-citibike-tripdata.csv

In [ ]:
print(f"{1:02d}")